In [0]:
def read_hdfs(ruta_hdfs):
    csv = spark.read.format('csv')\
             .option("header", "true")\
             .option("inferSchema", "true")\
             .csv(ruta_hdfs)
    return csv

## Leer los datos almacenados

In [0]:
feature = read_hdfs('/FileStore/tables/features.csv')
sales = read_hdfs('/FileStore/tables/sales.csv')
stores = read_hdfs('/FileStore/tables/stores.csv')

### Crear una tabla por cada uno de los ficheros de datos copiados en HDFS

In [0]:
feature.createOrReplaceTempView('feature')
sales.createOrReplaceTempView('sales')
stores.createOrReplaceTempView('stores')

In [0]:
# Cambiar las columnas que deben tener un valor numérico
feature = feature.withColumn("CPI",feature.CPI.cast('double'))
feature = feature.withColumn("Unemployment",feature.Unemployment.cast('double'))

### Mostrar las cinco primeras filas de cada tabla cargada

In [0]:
# Mostrar las primeras 5 filas de las tablas cargadas
for element in ['feature', 'sales', 'stores']:
    query = f'''SELECT * FROM {element} LIMIT 5''' 
    print(element) 
    spark.sql(query).show()

feature
+-----+----------+-----------+----------+---------+---------+---------+---------+---------+-----------+------------+---------+
|Store|      Date|Temperature|Fuel_Price|MarkDown1|MarkDown2|MarkDown3|MarkDown4|MarkDown5|        CPI|Unemployment|IsHoliday|
+-----+----------+-----------+----------+---------+---------+---------+---------+---------+-----------+------------+---------+
|    1|05/02/2010|      42.31|     2.572|       NA|       NA|       NA|       NA|       NA|211.0963582|       8.106|    false|
|    1|12/02/2010|      38.51|     2.548|       NA|       NA|       NA|       NA|       NA|211.2421698|       8.106|     true|
|    1|19/02/2010|      39.93|     2.514|       NA|       NA|       NA|       NA|       NA|211.2891429|       8.106|    false|
|    1|26/02/2010|      46.63|     2.561|       NA|       NA|       NA|       NA|       NA|211.3196429|       8.106|    false|
|    1|05/03/2010|       46.5|     2.625|       NA|       NA|       NA|       NA|       NA|211.3501429|       8.106|    false|
+-----+----------+-----------+----------+---------+---------+---------+---------+---------+-----------+------------+---------+

sales
+-----+----+----------+------------+---------+
|Store|Dept|      Date|Weekly_Sales|IsHoliday|
+-----+----+----------+------------+---------+
|    1|   1|05/02/2010|     24924.5|    false|
|    1|   1|12/02/2010|    46039.49|     true|
|    1|   1|19/02/2010|    41595.55|    false|
|    1|   1|26/02/2010|    19403.54|    false|
|    1|   1|05/03/2010|     21827.9|    false|
+-----+----+----------+------------+---------+

stores
+-----+----+------+
|Store|Type|  Size|
+-----+----+------+
|    1|   A|151315|
|    2|   A|202307|
|    3|   B| 37392|
|    4|   A|205863|
|    5|   B| 34875|
+-----+----+------+

### Contar el número de filas de cada tabla

In [0]:
for element in ['feature', 'sales', 'stores']:
    query = f'''SELECT COUNT(*) as {element} FROM {element}''' 
    print(f"El número de filas en {element} es : ")
    spark.sql(query).show()

El número de filas en feature es :
+-------+
|feature|
+-------+
|   8190|
+-------+

El número de filas en sales es :
+------+
| sales|
+------+
|421570|
+------+

El número de filas en stores es :
+------+
|stores|
+------+
|    45|
+------+

### El rango (máximo y mínimo) de cada variable numérica

In [0]:
# Obtener el esquema de cada tabla
def get_number_column_name(table):
    schema = globals()[table].schema
    #Obtener el nombre de las columnas que son númericas
    columName = {table : [str(element).split('(')[1].split(',')[0] for element in schema if 'IntegerType' in str(element) or 'DoubleType' in str(element)]}
    return columName

In [0]:
columnFeature = get_number_column_name('feature')
columnSales = get_number_column_name('sales')
columnStores = get_number_column_name('stores')

In [0]:
for table in [columnFeature, columnSales, columnStores]:
    tableName = list(table.keys())[0]
    print(tableName)
    for column in list(table.values())[0]:
        query = f'''SELECT MIN({column}), MAX({column}) FROM {tableName}''' 
        spark.sql(query).show()

feature
+----------+----------+
|min(Store)|max(Store)|
+----------+----------+
|         1|        45|
+----------+----------+

+----------------+----------------+
|min(Temperature)|max(Temperature)|
+----------------+----------------+
|           -7.29|          101.95|
+----------------+----------------+

+---------------+---------------+
|min(Fuel_Price)|max(Fuel_Price)|
+---------------+---------------+
|          2.472|          4.468|
+---------------+---------------+

+--------+--------+
|min(CPI)|max(CPI)|
+--------+--------+
| 126.064|      NA|
+--------+--------+

+-----------------+-----------------+
|min(Unemployment)|max(Unemployment)|
+-----------------+-----------------+
|           10.064|               NA|
+-----------------+-----------------+

sales
+----------+----------+
|min(Store)|max(Store)|
+----------+----------+
|         1|        45|
+----------+----------+

+---------+---------+
|min(Dept)|max(Dept)|
+---------+---------+
|        1|       99|
+---------+---------+

+-----------------+-----------------+
|min(Weekly_Sales)|max(Weekly_Sales)|
+-----------------+-----------------+
|         -4988.94|        693099.36|
+-----------------+-----------------+

stores
+----------+----------+
|min(Store)|max(Store)|
+----------+----------+
|         1|        45|
+----------+----------+

+---------+---------+
|min(Size)|max(Size)|
+---------+---------+
|    34875|   219622|
+---------+---------+

### Estudiar las diferentes categorías de las principales variables categóricas y el número de filas correspondientes a cada categoría.

Las variables categoricas según (suport, minilab, sf) son valores de una variable categórica son categorías o grupos mutuamente excluyentes.
Partiendo de esa premisa se extrae las variables categoricas de las tablas dejando la siguiente estructura:
  - **sales:** IsHoliday
  - **feature:** IsHoliday
  - **stores:** Type

In [0]:
categories = {'sales': ['IsHoliday'], 'feature': ['IsHoliday'], 'stores':['Type']}

In [0]:
for element in categories:
    print(element)
    for category in categories[element]:
        query = f'''SELECT {category}, COUNT(*) as CountValues  FROM {element} GROUP BY {category}''' 
        print(f"El número de filas en {element} es : ")
        spark.sql(query).show()

sales
El número de filas en sales es :
+---------+-----------+
|IsHoliday|CountValues|
+---------+-----------+
|     true|      29661|
|    false|     391909|
+---------+-----------+

feature
El número de filas en feature es :
+---------+-----------+
|IsHoliday|CountValues|
+---------+-----------+
|     true|        585|
|    false|       7605|
+---------+-----------+

stores
El número de filas en stores es :
+----+-----------+
|Type|CountValues|
+----+-----------+
|   B|         17|
|   C|          6|
|   A|         22|
+----+-----------+

### Buscar valores inexistentes o anómalos

#### Inexistentes

In [0]:
for element in ['feature', 'sales', 'stores']:
    print(element)
    columns = [element[0] for element in spark.sql(f'''SHOW COLUMNS FROM {element}''').collect()]
    for columName in columns:
        print(columName)
        query = f''' SELECT COUNT({columName}) as NotNull, SUM(CASE WHEN {columName} IS NULL then 1 else 0 end) as NullCount, SUM(CASE WHEN {columName} = 'NA' then 1 else 0 end) as NACount FROM {element};''' 
        spark.sql(query).show()

feature
Store
+-------+---------+-------+
|NotNull|NullCount|NACount|
+-------+---------+-------+
|   8190|        0|      0|
+-------+---------+-------+

Date
+-------+---------+-------+
|NotNull|NullCount|NACount|
+-------+---------+-------+
|   8190|        0|      0|
+-------+---------+-------+

Temperature
+-------+---------+-------+
|NotNull|NullCount|NACount|
+-------+---------+-------+
|   8190|        0|      0|
+-------+---------+-------+

Fuel_Price
+-------+---------+-------+
|NotNull|NullCount|NACount|
+-------+---------+-------+
|   8190|        0|      0|
+-------+---------+-------+

MarkDown1
+-------+---------+-------+
|NotNull|NullCount|NACount|
+-------+---------+-------+
|   8190|        0|   4158|
+-------+---------+-------+

MarkDown2
+-------+---------+-------+
|NotNull|NullCount|NACount|
+-------+---------+-------+
|   8190|        0|   5269|
+-------+---------+-------+

MarkDown3
+-------+---------+-------+
|NotNull|NullCount|NACount|
+-------+---------+-------+
|   8190|        0|   4577|
+-------+---------+-------+

MarkDown4
+-------+---------+-------+
|NotNull|NullCount|NACount|
+-------+---------+-------+
|   8190|        0|   4726|
+-------+---------+-------+

MarkDown5
+-------+---------+-------+
|NotNull|NullCount|NACount|
+-------+---------+-------+
|   8190|        0|   4140|
+-------+---------+-------+

CPI
+-------+---------+-------+
|NotNull|NullCount|NACount|
+-------+---------+-------+
|   8190|        0|    585|
+-------+---------+-------+

Unemployment
+-------+---------+-------+
|NotNull|NullCount|NACount|
+-------+---------+-------+
|   8190|        0|    585|
+-------+---------+-------+

IsHoliday
+-------+---------+-------+
|NotNull|NullCount|NACount|
+-------+---------+-------+
|   8190|        0|      0|
+-------+---------+-------+

sales
Store
+-------+---------+-------+
|NotNull|NullCount|NACount|
+-------+---------+-------+
| 421570|        0|      0|
+-------+---------+-------+

Dept
+-------+---------+-------+
|NotNull|NullCount|NACount|
+-------+---------+-------+
| 421570|        0|      0|
+-------+---------+-------+

Date
+-------+---------+-------+
|NotNull|NullCount|NACount|
+-------+---------+-------+
| 421570|        0|      0|
+-------+---------+-------+

Weekly_Sales
+-------+---------+-------+
|NotNull|NullCount|NACount|
+-------+---------+-------+
| 421570|        0|      0|
+-------+---------+-------+

IsHoliday
+-------+---------+-------+
|NotNull|NullCount|NACount|
+-------+---------+-------+
| 421570|        0|      0|
+-------+---------+-------+

stores
Store
+-------+---------+-------+
|NotNull|NullCount|NACount|
+-------+---------+-------+
|     45|        0|      0|
+-------+---------+-------+

Type
+-------+---------+-------+
|NotNull|NullCount|NACount|
+-------+---------+-------+
|     45|        0|      0|
+-------+---------+-------+

Size
+-------+---------+-------+
|NotNull|NullCount|NACount|
+-------+---------+-------+
|     45|        0|      0|
+-------+---------+-------+

#### Anomalos
En base al documento anexos los valores anomalos son: 
Feature: Temperature (Al no especificar la procedencia de los datos )